@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Merriweather Sans', system-ui, sans-serif;
  }
}

.hero{
    background-image: url(../images/watch_2.jpg);
    background-color: #353538;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    animation: herobg infinite ease-in-out;
    animation-duration: 15s;
  }
  
  .stroke{
    -webkit-text-stroke: 2px #ffffff;
  }
  
  
  @keyframes herobg {
    0%{
      background-image: url(../images/watch_1.jpg);
    }
    50%{
      background-image: url(../images/watch_2.jpg);
    }
    100%{
      background-image: url(../images/watch_1.jpg);
    }
  }
  
  @media screen and (max-width: 768px) {
  
    .hero{
      height: 70vh;
    }
  
    .stroke{
      -webkit-text-stroke: 1px #ffffff;
    }
    
  }