@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Merriweather Sans', system-ui, sans-serif;
  }
}


.deals-icon{
    width: 25px;
    height: auto;
}

.deals, .deals-header{
  width: 25%;
  padding: 10px;
}

.deals-header{
  text-align: left;
}

.deals{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  gap: 5px;
}


@media screen and (max-width:900px){
  .deals, .deals-header{
    width: 100%;
  }

  .deals{
    align-items: center;
    text-align: center;
  }

  .deals-header{
    text-align: center;
  }
  
}