@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Merriweather Sans', system-ui, sans-serif;
  }
}



.slider{
    padding: 5px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;	
    position: relative;
    display: flex;
}

.slide-track{
    display: flex;
    position: relative;
    animation: marquee 15s alternate-reverse infinite;
    justify-content: space-around;
    align-items: center;
}

.brand{
    display: block;
    min-width: 180px;
    margin: 0 15px;
    height: auto;
}



@media (max-width:900px) {
    .brand{
       min-width: min(max(100px, 10vw), 150px);
    }
}


@keyframes marquee {
	0%   { transform: translateX(0%); }
	100% { transform: translateX(-95%); }
}







