@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Merriweather Sans', system-ui, sans-serif;
  }
}


*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}

.mobile-menu{
  background-color: #ffffff;
}

#mobile-menu{
  display: none;
}

.hero{
  background-image: url(./images/watch_2.webp);
  background-color: #353538;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  animation: herobg infinite ease-in-out;
  animation-duration: 15s;
}

.stroke{
  -webkit-text-stroke: 2px #ffffff;
}


@keyframes herobg {
  0%{
    background-image: url(./images/watch_1.webp);
  }
  50%{
    background-image: url(./images/watch_2.webp);
  }
  100%{
    background-image: url(./images/watch_1.webp);
  }
}

@media screen and (max-width: 768px) {

  .hero{
    height: 70vh;
  }

  .stroke{
    -webkit-text-stroke: 1px #ffffff;
  }
  
}