@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Merriweather Sans', system-ui, sans-serif;
  }
}


*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}



